<% layout('layout/layout.ejs')%>

<div class="card mt-2">
    <div class="card-body mt-2">
        <h3>Tu email es: <%= user.email %></h3>
        <p>Contraseña cifrada: <%= user.password %></p>
        <p>Tu id: <%= user._id %></p>
    </div>
</div>